@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hola Mundo!</h1>
    <p>Taller de Azure</p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/QjvpjXdgugA?si=nbCV9vtU10T-x2k1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</div>
